# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo

# PyInstaller build output
build/
dist/
*.spec

# Dataset files (created by the tool at runtime)
dataset.csv
images/
videos/
.annotator_config.json
relabeling_for_kappa.csv
non_duplicates.json

# IDE
.vscode/
.idea/

# Environment variables
.env

kappa_sample/
